<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label text="Settings"></Label>
</ActionBar>

<StackLayout orientation="vertical" width="600" height="600"
             backgroundColor="lightgray">
    <Label class="page__content-icon fas" text="&#xf013;"></Label>
    <Label text="Nombre Actual: " width="100" height="60"></Label>
    <Label [text]="obtenerNombre()" width="100" height="60" color="red"></Label>
    <Button text="Cambiar Nombre actual!" (tap)="onButtonTap()"></Button>
    <Button text="console nombre" (tap)="consolaNombre()" ></Button>

</StackLayout>
