<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Search"></Label>
</ActionBar>
<StackLayout class="page__content" #layout>
    <Label class="page__content-icon fas texto-rojo" text="&#xf002;" #logo></Label>
    <SearchForm (search)="buscarAhora($event)"></SearchForm>
    <ListView class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)"
              style="height: 1200px; background-color:antiquewhite">
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Image src="res://icon" class="thumb img-circle" (longpress)="onLongPress(x)"></Image>
                <label [text]="x" class="list-group-item-heading"
                       verticalAlignment="center" style="width:60%" #busq></label>
                <Image src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/16/star-icon.png" class="thumb img-circle" (tap)="agregarFavs(x)"></Image>
            </FlexboxLayout>
        </ng-template>
    </ListView>

    <Button [text]="c"></Button>

</StackLayout>
  
