<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Home"></Label>
</ActionBar>

<StackLayout class="page__content">
        <Button (tap)="botonCamara()" text="Sacar Foto!"></Button>
        <ListView class="list-group" [items]="this.leerHome"
                  style="height: 1200px; background-color:antiquewhite">
            <ng-template let-x="item">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <label [text]="x" class="list-group-item-heading"
                           verticalAlignment="center" style="width:60%"></label>
                </FlexboxLayout>
            </ng-template>
        </ListView>
        
</StackLayout>
