<!--
<StackLayout class="page__content">
    <Image src="res://icon" height="60"></Image>
    <Image src="~/imagenes/icon.png" height="60"></Image>
    <Image src="https://www.lasonet.com/esc-boca-juniors.png" height="60" (longpress)="onLongPress()"></Image>
    <PullToRefresh (refresh)="onPull($event)">
        <ListView class="list-group" [items]="this.items.listar()"
                  (itemTap)="onItemTap($event)"
                  style="height: 900px; background-color:antiquewhite">
            <ng-template let-x="item">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <Image src="res://icon" class="thumb img-circle"></Image>
                    <label [text]="x" class="list-group-item-heading"
                           verticalAlignment="center" style="width:60%"></label>
                </FlexboxLayout>
            </ng-template>
        </ListView>
    </PullToRefresh>
</StackLayout>

    -->
<label text="AS555D"></label>



